@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin inputStyles {
    display: block;
    border: 1px solid $color-red;
    border-radius: 4px;
    padding: 10px 25px;
    outline: none;
    font-size: 2.5rem;
    transition: all .2s;
    color: inherit;
    &:focus {
      border: 1px solid $color-dark-yellow;
      box-shadow: 0 0 .2rem rgba($color-dark-yellow, 0.5);
  }
}

@mixin response($breakpoint) {
  @if( $breakpoint == 'phone') {
    @media (max-width: 37.5em) { @content }
  }

  @if( $breakpoint == 'tab-port') {
    @media (max-width: 56.25em) { @content }
  }

  @if( $breakpoint == 'tab-land') {
    @media (max-width: 75em) { @content }
  }

  @if( $breakpoint == 'big-desktop') {
    @media (max-width: 112.5em) { @content }
  }
}
