.list {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  &__meta {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 0 1rem 2rem;
    flex-wrap: wrap;
  }

  &__card {
    display: flex;
    flex: 1;
    overflow:auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include response(phone) {
    &__card {
      justify-content: space-around;
    }
  }
}
