.list {
  display: flex;
  flex-direction: column;

  &__meta {
    display: flex;
    flex-shrink: 0;
    justify-content: space-evenly;
    padding-bottom: 2rem;
  }

  &__card {
    display: flex;
    flex: 1;
    overflow:auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}
