.list {
  display: flex;
  flex-direction: column;

  &__meta {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 5rem 1rem 2rem;
    flex-wrap: wrap;
  }

  &__card {
    display: flex;
    flex: 1;
    overflow:auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}
