.pagination {
  width: 15rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  position: relative;
  text-align: center;
  &__input {
    @include inputStyles;
    display: inline-block;
    width: 4rem;
    padding:.5rem 1rem;
    font-size: 1.2rem;
  }

  &__nav {
    cursor: pointer;
    font-size: 3.5rem;
    position: absolute;
    color: $color-dark-red;
    font-weight: 900;
    top:25%;
    transform: translateY(-50%);
    &--right {
      right: 0;
    }

    &--left {
      left: 0;
    }
  }
}

.dropdown {
  position: relative;
  font-size: 1.5rem;
  height: 2em;
  line-height: 2em;
  width: 60%;
  margin: 0 auto;
  border: 1px solid lightgray;

  &__drop{
    overflow: hidden;
    color: $color-white;
    position: absolute;
    display: none;
    background: rgba($color-red, .8);
    width: 100%;
    left:50%;
    transform: translateX(-50%);
    top: 2.3em;
    box-shadow: 0 0 2rem rgba(0,0,0, .2);
    border-radius: 4px;

    &--isVisible {
      display: block;
    }
  }

  &__val {
    cursor: pointer;
    transition: all .2s;
    &:not(:last-child) {
      border-bottom: 1px solid $color-white;
    }
    &:hover {
      background: $color-dark-yellow;
    }
  }

  &__select {
    text-align: left;
    padding-left:.5rem;
    cursor: pointer;
    position: relative;
    &--icon {
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}
